/*Style main*/
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
}
* {
    background-color: #07000E;
    font-family: "Arial Rounded MT Bold" , Arial, Helvetica, sans-serif;
}

.logo{
    width: 160px;     
}

h1 {
    color: #E5E5E5;
}
.container{
    height: 70vh;
}
.img-fluid{
    max-width: 420px;
}
.dot{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 50px;
}
.disable{
    opacity: 0.5;
}